{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Disruptive Software Creatives{% endblock %}

{% block header %}
<h1>Startups shouldn't be this hard.</h1>
<p>It's about time a team came along and made it easier.</p>
{% endblock %}

{% block introduction %}
<header>
    <div class="container">
        <h2>We are creative software specialists.</h2>

        <p style="text-align: left;">We help entrepreneurs explore, validate, build,
        and scale high quality software in a way that is both fast to market, and cost effective.
        </p>

        <p style="text-align: left;">
        </p>

        <p style="text-align: left;">
            We have been developing software for over 15 years but
            over the last 5 we've been working as independent consultants
            and freelancers, building successful software
            for <b>over 30 different seed and early stage companies</b> in,
            and around Central, Ohio. Now, we've combined forces to build
            the most experienced, startup focused, software development agency in Ohio.
        </p>
    </div>
</header>

<div class="content dark style1 featured">
    <div class="container">
        <div class="row">
            <div class="12u">
                <h2>
                    We thrive in the following 3 stages...
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="4u 12u(narrow)">
                <section>
                    <span class="feature-icon"><span class="icon fa-lightbulb-o"></span></span>
                    <header>
                        <h3>Concept</h3>
                    </header>
                    <p style="text-align:left;">
                        You need to build a demo-able prototype to validate your concept
                        and get it off the ground. We'll show you how to create a solution
                        that maximizes your chances of success without breaking the bank.
                    </p>
                </section>
            </div>
            <div class="4u 12u(narrow)">
                <section>
                    <span class="feature-icon"><span class="icon fa-tint"></span></span>
                    <header>
                        <h3>Seed</h3>
                    </header>
                    <p style="text-align:left;">
                        You've done the validation, and you've got your first customers or
                        initial funding. It's time to build the real deal. We will help you
                        quickly build a high quality, well tested product your customers will love.
                    </p>
                </section>
            </div>
            <div class="4u 12u(narrow)">
                <section>
                    <span class="feature-icon"><span class="icon fa-line-chart"></span></span>
                    <header>
                        <h3>Growth</h3>
                    </header>
                    <p style="text-align:left;">
                        It's time to engineer for scale, and start bringing your engineering in
                        house. We will show you how to create a fantastic engineering culture,
                        move at speed, and hire the best.
                    </p>
                </section>
            </div>
        </div>

        <header>
            <h2 style="margin-top:4em">and we're all about doing the right thing...</h2>
        </header>

        <div class="row learned">
            <div class="4u 12u(narrow)">
                <section>
                    <header>
                    </header>
                    <div class="row">
                        <div class="3u">
                            <span class="learned-icon"><span class="icon fa-balance-scale"></span></span>
                        </div>
                        <div class="9u" style="text-align:left">
                            <h3 style="text-align:left;">Integrity</h3>
                            We do not make promises we cannot keep, and we keep the promises we make.
                        </div>
                    </div>
                </section>
            </div>

            <div class="4u 12u(narrow)">
                <section>
                    <header>
                    </header>
                    <div class="row">
                        <div class="3u">
                            <span class="learned-icon"><span class="icon transparent"></span></span>
                        </div>
                        <div class="9u" style="text-align:left">
                            <h3 style="text-align:left;">Radical Transparency</h3>
                            We do not hide the bad, we shine a light on it and figure out a way to fix things.
                        </div>
                    </div>
                </section>
            </div>

            <div class="4u 12u(narrow)">
                <section>
                    <header>
                    </header>
                    <div class="row">
                        <div class="3u">
                            <span class="learned-icon"><span class="icon fa-users"></span></span>
                        </div>
                        <div class="9u" style="text-align:left">
                            <h3 style="text-align:left;">Collaboration</h3>
                            Constant communication and collaboration with our clients is the only way we work.
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <div class="row learned">
            <div class="4u 12u(narrow)">
                <section>
                    <header>
                    </header>
                    <div class="row">
                        <div class="3u">
                            <span class="learned-icon"><span class="icon fa-heart"></span></span>
                        </div>
                        <div class="9u" style="text-align:left">
                            <h3 style="text-align:left;">Passionate Advice</h3>
                            We do not accept mediocrity. Our passion guides everything we do.
                        </div>
                    </div>
                </section>
            </div>

            <div class="4u 12u(narrow)">
                <section>
                    <header>
                    </header>
                    <div class="row">
                        <div class="3u">
                            <span class="learned-icon"><span class="icon fa-graduation-cap"></span></span>
                        </div>
                        <div class="9u" style="text-align:left">
                            <h3 style="text-align:left;">Expert Knowledge</h3>
                            We don't fake it. When we're not the expert, we'll point you to the people who are.
                        </div>
                    </div>
                </section>
            </div>

            <div class="4u 12u(narrow)">
                <section>
                    <header>
                    </header>
                    <div class="row">
                        <div class="3u">
                            <span class="learned-icon"><span class="icon fa-binoculars"></span></span>
                        </div>
                        <div class="9u" style="text-align:left">
                            <h3 style="text-align:left;">Dedication</h3>
                            We never split developers between projects or between clients.
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <div class="row learned">
            <div class="4u 12u(narrow)">
                <section>
                    <header>
                    </header>
                    <div class="row">
                        <div class="3u">
                            <span class="learned-icon"><span class="icon fa-warning"></span></span>
                        </div>
                        <div class="9u" style="text-align:left">
                            <h3 style="text-align:left;">Big and Visible</h3>
                            When problems arise we make them as attention getting as possible. The sooner we can detect issues, the sooner we can fix them.
                        </div>
                    </div>
                </section>
            </div>

            <div class="4u 12u(narrow)">
                <section>
                    <header>
                    </header>
                    <div class="row">
                        <div class="3u">
                            <span class="learned-icon"><span class="icon fa-android"></span></span>
                        </div>
                        <div class="9u" style="text-align:left">
                            <h3 style="text-align:left;">Automate Everything</h3>
                            Our quality testing, deployment, processes, and monitoring is all automated. That way we can focus on what matters. You.
                        </div>
                    </div>
                </section>
            </div>

            <div class="4u 12u(narrow)">
                <section>
                    <header>
                    </header>
                    <div class="row">
                        <div class="3u">
                            <span class="learned-icon"><span class="icon fa-certificate"></span></span>
                        </div>
                        <div class="9u" style="text-align:left">
                            <h3 style="text-align:left;">Quality Above Quantity</h3>
                            We develop the right features, at the right time, with the right customer experience, above all else.
                        </div>
                    </div>
                </section>
            </div>

        </div>
        <div class="row">
            <div class="12u">
                <footer>
                    <a href="#second" class="button scrolly">But don't take it from us...</a>
                </footer>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block testimonials %}
<header>
    <div class="container">
        <h2>Listen to what our clients say.</h2>

        <div id="car1" class="owl-carousel owl-theme">
            <div class="item">
                <blockquote style="text-align:left;">Blueshift moved my team from a "half-agile" unworkable process to real Agile methods within three weeks.
                They brought the team up to speed on using the latest front-end tooling and led by example in developing clear, concise,
                well-tested code and coached others to do the same. In addition, their expertise with User Experience Design
                was invaluable in establishing and refining the initial product vision before any code was ever written.
                <br /> <div style="text-align:right; font-weight:800">— Olah Healthcare</div>
                </blockquote>
            </div>
            <div class="item">
                <blockquote style="text-align:left;">Blueshift provided us with constant communication that kept our project flowing worry free.
                The Blueshift team has exhibited an undeniable level of experience to provide our company the assets we desperately needed for success.
                <br /> <div style="text-align:right; font-weight:800">— Responsoft</div>
                </blockquote>
            </div>
            <div class="item">
                <blockquote style="text-align:left;">Blueshift understood what we wanted to build almost immediately and were able to hit the
                    ground running with our project. Not only did they blow our minds with their first delivery of our software but they did
                    it under budget.
                <br /> <div style="text-align:right; font-weight:800">— AC Karma Sports</div>
                </blockquote>
            </div>
            <div class="item">
                <a href="http://www.bizjournals.com/columbus/blog/2015/12/startup-veterans-form-contract-software.html"><img src="{% static "images/cbf_feat.png" %}"></a>
            </div>
        </div>

    </div>
</header>
{% endblock %}

{% block organizations %}
<div id="car2" class="owl-carousel owl-theme">
    <img class="item" src="{% static "images/cp_logo.png"%}">
    <img class="item" src="{% static "images/crb_logo.png"%}">
    <img class="item" src="{% static "images/pyoh_logo.png"%}">
    <img class="item" src="{% static "images/nvm_logo.png"%}">
    <img class="item" src="{% static "images/cm_logo.png"%}">
    <img class="item" src="{% static "images/pta_logo.png"%}">
    <img class="item" src="{% static "images/pycon_logo.png"%}">
    <img class="item" src="{% static "images/st_logo.png"%}">
    <img class="item" src="{% static "images/pytn_logo.png"%}">
    <img class="item" src="{% static "images/ogs_logo.png"%}">
</div>
{% endblock %}
